---
title: Innovation Buzz Word Generator
---

%section.generator
  .wrapper
    %article
      %h1 Innovation Buzz Word Generator
      %button Generate it, yo!
      %hr

%section.amber-quiz
  .wrapper
    %article
      %h1 Amber Quiz
      #quiz1
      %hr

%section.story
  .wrapper
    %article
      %h1 Ignite Animal Mad Lib
      #story1
      %hr
